@model IEnumerable<TvShowsApp.Models.Actors>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id=@ViewBag.TvShow_id>New Actor</a>
</p>
<partial name="ExportExcelPartialView">

<table class="table" id="headerTable">
    <thead>
        <tr class="table_styling">
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbUrl)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in Model)
        {
            <tr class="table_styling">
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="@Url.Content(item.ImageUrl)" alt="image" style="width:20%" />
                    }
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>*@
                <td class="title_style">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="title_style">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="title_style">
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImdbUrl)*@
                    <a class="title_style" href="@item.ImdbUrl" target="_blank">@item.Name @item.LastName</a>
                </td>

                <td class="button_style">
                    <a class="edit_style" asp-action="Edit" asp-route-id="@item.ActorsID"><i class="far fa-edit"></i>Edit</a>
                    <a class="details_style" asp-action="Details" asp-route-id="@item.ActorsID"><i class="fas fa-book-open"></i>Details</a>
                    <a class="delete_style" asp-action="Delete" asp-route-id="@item.ActorsID"><i class="far fa-trash-alt"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
